<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css" />
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <title>Query results for {{wxQueryResults.q}}</title>
    <body>
        <div>
            <p>Your query returned multiple results:</p>
            <ul>
                {{#each wxQueryResults.results}}
                <li><a href={{this.apphref}}>{{this.city}}, {{this.state}} {{this.country_name}}</a></li>
                {{/each}}
            </ul>
        </div>
    </body>
</html>
