<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <title>Weather for {{wxObj.currentLocation}}</title>
    <body>
        {{wxObj.currentLocation}}<br />
        <i class="{{wxIcon}}"></i><br />
        {{wxObj.currentWx}}<br />
        Temperature: {{wxObj.currentTempC}}°C<br />
        Feels like: {{wxObj.currentFeelsTempC}}°C<br />
        Wind: {{wxObj.currentWindK}}, {{wxObj.currentWindGustK}}<br />
        <a href="{{wxObj.wxMoreDetails}}" target="_blank" />More details and forecast</a><br />
        <a href="/">Return to About Page</a>
    </body>
</html>
