<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <title>Weather for {{wxObject.currentLocation}}</title>
    <body>
        <div class="container">
            {{wxObject.currentLocation}}<br />
            <i class="{{wxIcon}}"></i><br />
            {{wxObject.currentWx}}<br />
            Temperature: {{wxObject.currentTempC}}°C<br />
            Feels like: {{wxObject.currentFeelsTempC}}°C<br />
            Wind: {{wxObject.currentWindK}}, {{wxObject.currentWindGustK}}<br />
            <a href="{{wxObject.wxMoreDetails}}" target="_blank" />More Details &amp; Forecast</a><br />
            <a href="/">Return to About Page</a>
        </div>
    </body>
</html>
